################################################################################
##	共通HTMLフッタ
##		html・bodyの終了タグが含まれるため、「共通HTMLヘッダ」とセットで使うこと。
##
##	＜request・session設定期待値＞
##	※特に無し
##
################################################################################
</body>
</html>
