################################################################################
##	デモマスタ一覧ページ
##
##	＜request・session設定期待値＞
##	$apContext			：「String」型 ※APコンテンツルートURLパス(末尾「/」なし)
##	$DemoSearchFrom		：「DemoSearchFrom」型
##	$demoDtoList		：「List<DemoDto>」型
##
################################################################################
## 共通HTMLヘッダ
#parse("/common/htmlheader.vm")

<h1>デモマスタ一覧</h1>

＜検索条件＞<br />
デモID：$DemoSearchFrom.getDemoId()<br />
デモ名：$DemoSearchFrom.getDemoName()<br />
<br />

<table>
	<tr>
		<th>デモID</th>
		<th>デモ名</th>
	</tr>
	#foreach($demoDto in $demoDtoList)
		<tr>
			<td>
				<a href="${apContext}/demomanage/demoupdate.do?demoId=${demoDto.getDemoId()}">
					$demoDto.getDemoId()
				</a>
			</td>
			<td>$demoDto.getDemoName()</td>
		</tr>
	#end
</table>
<br />

<input type="button" value="戻る" onclick="javascript:location.href='${apContext}/demomanage/demosearch.do'; return false;" />

## 共通HTMLフッタ
#parse("/common/htmlfooter.vm")
