################################################################################
##	デモマスタ検索ページ
##
##	＜request・session設定期待値＞
##	$apContext			：「String」型 ※APコンテンツルートURLパス(末尾「/」なし)
##	$DemoSearchFrom		：「DemoSearchFrom」型
##
################################################################################
## 共通HTMLヘッダ
#parse("/common/htmlheader.vm")

<h1>デモマスタ検索</h1>

<form action="${apContext}/demomanage/demolist.do" method="POST">
	<table>
		<tr>
			<td>デモID</td>
			<td>
				<input type="text" id="txtDemoId" name="demoId" value="$DemoSearchFrom.getDemoId()" />
			</td>
		</tr>
		<tr>
			<td>デモ名&nbsp;※前方一致</td>
			<td>
				<input type="text" id="txtDemoName" name="demoName" value="$DemoSearchFrom.getDemoName()" />
			</td>
		</tr>
		<tr>
			<td>デモフラグ</td>
			<td>
				<input type="checkbox" id="chkDemoFlg" name="demoFlg" value="1"
					#if("$DemoSearchFrom.getDemoFlg()" == "1")
						checked
					#end
				/>
				確認する
			</td>
		</tr>
	</table>
	<br />

	<input type="submit" value="検索" />
</form>

<input type="button" value="戻る" onclick="javascript:location.href='${apContext}/demomanage/demomanagetop.do'; return false;" />

## 共通HTMLフッタ
#parse("/common/htmlfooter.vm")
