################################################################################
##	セッションタイムアウトページ
##
##	＜request・session設定期待値＞
##	$context			：「String」型 ※静的コンテンツルートURLパス(末尾「/」なし)
##
################################################################################
## 共通HTMLヘッダ
#parse("/common/htmlheader.vm")

<h1>セッションタイムアウト</h1>

<table>
	<tr>
		<td>
			<a href="${context}/index.html">静的トップページへ戻る</a>
		</td>
	</tr>
</table>

## 共通HTMLフッタ
#parse("/common/htmlfooter.vm")
