<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>victoria-demo</display-name>

	<!-- サーブレット・コンテキスト・リスナー -->
	<listener>
		<listener-class>net.sitsol.victoria.demo.servlet.DemoServletContextListener</listener-class>
	</listener>

	<!-- HTTPセッション・リスナー -->
	<listener>
		<listener-class>net.sitsol.victoria.setvlet.VctHttpSessionListener</listener-class>
	</listener>

	<!-- Spring-MVCサーブレット -->
	<servlet>
		<servlet-name>springMvcServlet</servlet-name>
		<servlet-class>net.sitsol.victoria.demo.servlet.DemoDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:/beans-webmvc.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Spring-MVCサーブレット・マッピング -->
	<servlet-mapping>
		<servlet-name>springMvcServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
