<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>victoria-demo</display-name>

	<!-- サーブレット・コンテキスト・リスナー -->
	<listener>
		<listener-class>net.sitsol.victoria.demo.servlet.DemoServletContextListener</listener-class>
	</listener>

	<!-- HTTPセッション・リスナー -->
	<listener>
		<listener-class>net.sitsol.victoria.demo.servlet.DemoHttpSessionListener</listener-class>
	</listener>

	<!-- HTTPセッション属性・リスナー -->
	<listener>
		<listener-class>net.sitsol.victoria.demo.servlet.DemoHttpSessionAttributeListener</listener-class>
	</listener>

	<!-- Spring-Dispatcherサーブレット -->
	<servlet>
		<servlet-name>SpringDispatcherServlet</servlet-name>
		<servlet-class>net.sitsol.victoria.demo.servlet.spring.DemoSpringDispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:/beans-webmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!--  Spring-Dispatcherサーブレット・マッピング -->
	<servlet-mapping>
		<servlet-name>SpringDispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Velocityサーブレット -->
	<servlet>
		<servlet-name>VelocityServlet</servlet-name>
		<servlet-class>net.sitsol.victoria.demo.servlet.velocity.DemoVelocityViewServlet</servlet-class>
		<init-param>
			<param-name>org.apache.velocity.toolbox</param-name>
			<param-value>/WEB-INF/classes/velocity-toolbox.xml</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.velocity.properties</param-name>
			<param-value>/WEB-INF/classes/velocity.properties</param-value>
		</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>

	<!-- Velocityサーブレット・マッピング -->
	<servlet-mapping>
		<servlet-name>VelocityServlet</servlet-name>
		<url-pattern>*.vm</url-pattern>
	</servlet-mapping>

	<!-- Velocityサーブレットへの直接アクセス防止 -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Velocityサーブレット直接アクセス防止</web-resource-name>
			<url-pattern>*.vm</url-pattern>
		</web-resource-collection>
		<auth-constraint></auth-constraint>
	</security-constraint>

	<!-- Spring文字エンコーディング・フィルター  -->
	<filter>
		<filter-name>SpringCharacterEncodingFilter</filter-name>
		<filter-class>net.sitsol.victoria.setvlet.spring.VctSpringCharacterEncodingFilter</filter-class>
	</filter>

	<!-- Spring文字エンコーディング・フィルター・マッピング  -->
	<filter-mapping>
		<filter-name>SpringCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- セッションタイムアウト(分) -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

</web-app>
